h3 {
  font-size: 40px;
  margin-bottom: 0px;
  text-decoration: underline;
}

li {
  font-size: 25px;
}

ul {
  list-style-type: decimal;
}

.crew-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.125em;
}
